
body{
    /* background: #bdc3c7;   fallback for old browsers 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #2c3e50, #bdc3c7); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #161616 !important;
    overflow: hidden;
}

.todo-container{
    background-color: #dcdcdc;
    border-radius: 25px;
    width: 60%;
    margin: 70px auto;
    padding: 20px;
    height: 875px;
    box-shadow: 20px 20px 12px #696969;
}

.todo-body{
    text-align: left;
    padding: 20px 10px;
}

.todo-body > *{
    padding: 5px;
}
.todo-header h1 {
    text-decoration: underline;
}

.todo-body button {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    display: inline;
    
}
.button-area {
    justify-content: center;
}

.todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
