.App {
  min-height: 83vh; /* vh stands for ViewPort Height. 83vh will take up 83% of the height of the user's viewport */
  margin-bottom: 0 !important;
  text-align: center;
}

Footer{
  position: fixed;
  width: 86%;
  display: block;
  bottom: 0;
  margin-left: 7%;
  border-radius: 10px;
  margin-bottom: 0;
}

Navbar{
  width: 80% !important;
}